#chart {
    height: 500px;
    border: 1px #ddd solid;
    width: auto;
}

.prop-edit {
    float: left;
    width: 100%;
    padding: 4px;
}

.tree .node {
    cursor: pointer;
}

.tree .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}

.tree .node text {
    font-size: 11px;
}

.tree path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


/* pack.nested */

.pack-nested circle {
  fill: #ccc;
  stroke: #999;
}

.pack-nested .parent circle {
  fill: #1f77b4;
  fill-opacity: 0.1;
  stroke: steelblue;
}

.pack-nested .parent:hover circle {
  stroke: #ff7f0e;
  stroke-width: 1px;
}
