#chart {
    height: 500px;
    border: 1px #ddd solid;
    width: auto;
}

.prop-edit {
    float: left;
    width: 100%;
    padding: 4px;
}


/* Tree colors */

/* TODO: move to SCSS */

/* Color palette */
.color-primary-0 { color: #4B6DC3 }	/* Main Primary color */
.color-primary-1 { color: #9CB2E8 }
.color-primary-2 { color: #6E8BD5 }
.color-primary-3 { color: #2E54B1 }
.color-primary-4 { color: #133998 }


.tree .node {
  cursor: default;
}

.tree .node.node-parent {
    cursor: pointer;
}

/* TODO: fix transitions */

.tree .node circle {
    fill: #fff;
    stroke: #2E54B1;
    stroke-width: 1px;
    /*transition: fill 1250ms ease-in-out;*/
}

.tree .node.node-parent:hover circle {
  stroke: #6E8BD5;
}

.tree .node.node-parent:hover text {
  fill: #444;
}

.tree .node.node-parent circle {
  fill: #fff;
  stroke-width: 2px;
}

.tree .node.node-collapsed circle {
  fill: #2E54B1;
  /*transition: fill 1250ms ease-in-out;*/
}

.tree .node.node-collapsed:hover circle {
  fill: #6E8BD5;
}

.tree .node text {
    font-size: 11px;
}

.tree path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


/* pack.nested */

.pack-nested circle {
  fill: #ccc;
  stroke: #999;
}

.pack-nested .parent circle {
  fill: #1f77b4;
  fill-opacity: 0.1;
  stroke: steelblue;
}

.pack-nested .parent:hover circle {
  stroke: #ff7f0e;
  stroke-width: 1px;
}
